* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  color: white;
  line-height: 1.6;
}

.landing-body {
  text-align: center;
  margin-top: 15px;
}

#content {
  max-width: 900px;
  margin: auto;
  padding: 0 30px;
  position: relative;
  animation-name: floatingright;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

/* Slide-in Animation */
@keyframes floatingright {
  0% { left: -1000px; }
  100% { left: 0; }
}

#showcase {
  height: 300px;
}

#showcase h1 {
  font-size: 50px;
  position: relative;
  color: #1fa34a;
  animation-name: floatingdown;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes floatingdown {
  0% { top: -60px; }
  100% { top: 200px; }
}

.tagline {
  font-size: 20px;
  margin-top: -60px;
  opacity: 0;
  animation: btn 3s forwards 2s;
}

.btn {
  display: inline-block;
  color: white;
  text-decoration: none;
  border: 1px solid white;
  padding: 1rem 2rem;
  margin-top: 30px;
  opacity: 0;
  animation-name: btn;
  animation-duration: 3s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  transition: 1s;
}

@keyframes btn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.btn:hover {
  transform: rotateY(180deg);
}

.top-nav {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 15px;
  background-color: #0d0d0d;
}
